@charset "utf-8";

#affiliatePanel {
	
	width: 			100%;
	
}

#affiliatePanel .affiliateTopMenu {
	
	text-align: 	center; 
	
	position: 		relative; 
	
	left: 			50%; 
	
	float:			left; 
	
}

#affiliatePanel div.affiliateTopMenuLink {
	
	float:			left; 
	
	position:		relative;
	
	right: 			50%; 
	
	line-height:	24px;
	
}

#affiliatePanel div.affiliateTopMenuLink span.affiliateTopMenuLinkItem a {
	
	padding-left: 	24px;
	
}

#affiliatePanel div.affiliateTopMenuLink span {
	
	display: 		block;
	 
	margin-left:	5px;
	 
	margin-right:	5px;
	
}

#affiliatePanel div.mainLinks {
	
	text-align: 	center;
	
	margin-bottom:	3px;
	
}

#affiliatePanel div#affiliateHomePanel {
	
	width: 			360px; 
	
	position: 		relative; 
	
	margin-left: 	auto;
	
	margin-right: 	auto;
	
}

#affiliatePanel div#affiliateHomePanel div.affiliateHomePanelIcon {
	
	width: 			100px; 
	
	text-align: 	center; 
	
	float: 			left; 
	
	padding:		10px 5px 10px 5px;
	
	margin:			0px	5px 0px 5px;
	
	-moz-border-radius: 	6px;
	
	-webkit-border-radius: 	6px;
	
	border-radius: 			6px;
	
}

#affiliatePanel div#affiliateHomePanel div.affiliateHomePanelIcon:hover {
	
	background:		url(../images/bg_pixel.png) repeat;
	
}

div.affiliateInputField {
	
	margin-bottom: 	5px;
	
	clear:			both;
	
}

div.affiliateInputField span {
	
	width:			150px;
	
	float:			left;
	
}

div.affiliateInputField input[type=password], div.affiliateInputField input[type=text] {
	
	width:			150px;
	
}

table.affiliateSummaryContainer td {
	
	padding:		2px;
	
}

table.affiliateSummaryContainer td.affiliateSummaryKey {
	
	width:			250px;
	
}

table.affiliateSummaryContainer td.affiliateSummaryValue {
	
	width:			50px;
	
}

div.affiliateSummaryContainer {
	
	float:			left;
	
	width:			50%;
	
}

table.affiliateInfoContainer {
	
	width:			100%;
	
	text-align:		left;
	
}

div.affiliatePanelIcon {
	
	display:		block;
	
	position:		relative;
	
	height:			64px;
	
	padding-left:	69px;
	
}

div#affiliateSummaryIcon {
	
	background:		url(../images/summary_big.png) no-repeat left center;
	
}

div#affiliateBannersIcon {
	
	background:		url(../images/banners_big.png) no-repeat left center;
	
}

div#affiliateEmailsIcon {
	
	background:		url(../images/emails_big.png) no-repeat left center;
	
}

div#affiliateTrafficIcon {
	
	background:		url(../images/traffic_big.png) no-repeat left center;
	
}

div#affiliateSalesIcon {
	
	background:		url(../images/sales_big.png) no-repeat left center;
	
}

div#affiliatePaymentsIcon {
	
	background:		url(../images/payments_big.png) no-repeat left center;
	
}

div#affiliateStatisticsIcon {
	
	background:		url(../images/statistics_big.png) no-repeat left center;
	
}

div#affiliateDetailsIcon {
	
	background:		url(../images/details_big.png) no-repeat left center;
	
}

div#affiliatePreferencesIcon {
	
	background:		url(../images/preferences_big.png) no-repeat left center;
	
}

div#affiliatePasswordIcon {
	
	background:		url(../images/password_big.png) no-repeat left center;
	
}

h2.affiliatePanelTitle {
	
	line-height:	64px;
	
}

div.affiliateEmailsLabel {
	
	width:			30%;
	
	float:			left;
	
}

div.affiliateEmailsField {
	
	width:			70%;
	
	float:			left;
	
}

div.affiliateEmailsField textarea, div.affiliateEmailsField input {
	
	width:			70%;
	
}

div.affiliateEmailsRow {
	
	margin:			10px 0px 10px 0px;
	
}

div.affiliateEmailsField div.button2-left {
	
	display:		none;
	
}

div#affiliateStatisticsGraph {
	
	margin-left:	auto;
	
	margin-right:	auto;
	
	text-align:		center;
	
	width:			465px;

}

#affiliateDetailsForm {
	
	float: 			left;
	
}

tr.affiliateDataRow:hover {
	
	background:		url(../images/bg_pixel.png) repeat;
	
}

div#affiliatePanel table {
	
	border-collapse:collapse;
	
	margin:			0px;
	
	padding:		1px;

}