@charset "utf-8";

#affiliatePanel {
	
	width: 			100%;
	
}

#affiliatePanel hr {
	
	width: 			100%;
	
	background:		#CCCCCC;
	
	border:			0 none;
	
	height:			2px;
	
	margin:			10px 0px 10px 0px;
	
}

#affiliateLoginForm {
	
	width: 			45%;
	
	float: 			left;
	
}

#affiliateProgramDetails {
	
	width: 			45%;
	
	float: 			left;
	
}

div.affiliateInputField {
	
	margin-bottom: 	5px;
	
	clear:			both;
	
}

div.affiliateInputField span {
	
	width:			70px;
	
	float:			left;
	
}

div.affiliateInputField input[type=password], div.affiliateInputField input[type=text] {
	
	width:			140px;
	
}

div#affiliateMoneyIcon {
	
	background:		url(../images/money.png) no-repeat center center;
	
	display:		block;
	
	position:		relative;
	
	width:			64px;
	
	height:			64px;
	
}

div#affiliateLoginIcon {
	
	background:		url(../images/login.png) no-repeat center center;
	
	display:		block;
	
	position:		relative;
	
	width:			64px;
	
	height:			64px;
	
}