@charset "utf-8";

.hidden {
	
	opacity: 					0;
	
	position: 					absolute;
	
}

.visible {
	
	opacity: 					1;
	
}


input.calendar, select.calendar {
	
	width:						99px;
	
}

button.calendar:hover, button.calendar.active {
	
	background-position: 		0 20px;
	
}

div.calendar {
	
	background: 				url(../images/calendar_bg.png);
	
	height: 					163px;
	
	padding: 					0 6px;
	
	text-align: 				center;
	
	width: 						147px;
	
}	

div.calendar * {
	
	margin: 					0;
	
	padding: 					0;
	
}	

div.calendar div {
	
	background: 				none !important;
	
	cursor: 					move;
	
	height: 					153px;
	
	overflow: 					hidden;
	
	padding-top: 				18px;
	
	position: 					relative;
	
	width: 						147px;
	
}	

div.calendar table {
	
	background: 				#FFF;
	
	border: 					0;
	
	border-collapse: 			collapse;
	
	border-spacing: 			0;
	
	cursor: 					default;
	
	margin: 					0 auto;
	
	overflow: 					hidden;
	
	width: 						147px;
	
}

div.calendar td, div.calendar th {
	
	border: 					0;
	
	color: 						#0597DB;
	
	font: 						normal 12px Arial, Helvetica, sans-serif;
	
	height: 					21px;
	
	text-align: 				center;
	
	width: 						21px;
	
}

div.calendar td {
	
	font-size: 					11px;
	
}

div.calendar td.valid {
	
	background: 				url(../images/calendar_valid.gif);
	
	color: 						#0597DB;
	
	cursor: 					pointer;
	
}

div.calendar td.active, div.calendar td.hover {
	
	background: 				url(../images/calendar_valid.gif) 0 100%;
	
	color: 						#FFF;
	
	cursor: 					pointer;
	
}

div.affiliateDetailsValue button.calendar {
	
	background:				url(../images/calendar_icon.png) no-repeat center center;
	
	height:					16px;
	
	width:					16px;
	
	border:					0 none;

    margin-left:            5px;

    margin-top:             -7px;
	
	padding:				0px 0px 0px 0px;
	
}

div.calendar caption, div.calendar thead {
	
	display:				none;
	
}

div.calendar tr td {
	
	visibility:				hidden;
	
}

div.calendar tr td.valid, div.calendar tr td.active {
	
	visibility:				visible;
	
}

div.affiliateDetailsValue button.calendar:hover {
	
	cursor:					pointer;
	
}